@import "tailwindcss";

@tailwind utilities;

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0c1a, #1a1229, #2a1e3d, #3b224f, #4d2761);
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

.field__wrapper {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.folder__item {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    padding: 0 .5rem;
    border-radius: .25rem;

    &:hover {
        background-color: #3b224f;
    }
}

.folder__item_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


